:root {
    --color1: #A77C5D;
    --color2: #F4E8DE;
    --color3: #332317;
    --color4: #997052;
    --addColorDark: #A5A5A5;
    --addColor: #C4C4C4;
    --catColor1: #490C97;
    --catColor2: #0C5497;
    --catColor3: #49970C;
    --catColor4: #970C0C;
    --fadeCatColor: #970C0C33;
}

html,
body {

    color: var(--color3);
    font: normal 400 16px "Roboto", sans-serif;
    background: var(--color2);
    height: 100%;

}

.container {
    max-width: 768px;
    margin: 0 auto;

}

.header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--color1);
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.header-container {
    display: flex;
    column-gap: 12px;
    align-items: center;
    padding: 14px;
}
.header-container_info {
    padding: 10px;
}

.header-container__title {
    margin: 0;
    line-height: 28px;
    font-weight: 400;
    font-size: 24px;
    color: var(--color3);
}

.header-container__menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-item {
    cursor: pointer;
    padding: 12px;
}

.card .edit {
    opacity: 0;
}

.card:hover .edit {
    transition: 0.4s;
    opacity: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px 12px 0 12px;
    row-gap: 13px;
    margin: 0 auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color1);
    box-shadow: 0 4px 4px var(--addColor);
    border-radius: 12px;
}

.cat-icon {
    padding: 24px;
}

.card-info__name {
    font-size: 24px;
    line-height: 28px;
}

.card-info__weight {
    display: flex;
    align-items: center;
    line-height: 24px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-date {
    display: flex;
    align-items: end;
    padding: 12px;
    flex-direction: column;
    row-gap: 49px;
}

.card-date__item {
    font-size: 12px;
    line-height: 14px;
}

.card-container {
    display: flex;
}

dl {
    margin: 0;
}
dt::after {
    content: ":";
}
.cat-info {
    display: grid;
    grid-template-columns: 80px 90px;
    grid-column-gap: 15px;
    grid-row-gap: 8px;
    word-break: break-all;
    align-items: baseline;

}

.cat-info dt, dd {
    margin: 0;
}
.row-name {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
}
.row-value {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}
hr {
    width: 100%;
    color: var(--color3);
}
.footer {
    display: flex;
    position: sticky;
    background: var(--color2);
    bottom: 0;
    left: 0;
    flex-direction: column;
}
.footer-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 6px;
    padding-top: 11px;
}
.footer-icons__item {
    cursor: pointer;
}